body {
    background-color: lightgray;
}

.map_france path{
    fill: #375A7F;
    stroke: #0c0c0c;
    stroke-width: 1px;
    transition: fill .2s;
}
.map_france path:hover{
    fill: rgba(55, 90, 127, 0.5);
    transition: fill .2s;
}

